#container {
  text-align: center;
}
#selection{
  margin-bottom: 20px;
}
table {
  margin: auto;
  border: 10px ridge #383838;
}
table th{
  background-color: darkgray;
  border: 1px groove #626262;
}
table td {
  background-color: lightgray;
  width: 80px;
  height: 80px;
  border: 1px groove #838383;
}
